/* .App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
} */

.App {
  text-align: center;
  background: linear-gradient(135deg,#ffffed, #f8d17d );
  min-height: 100vh;
}

* {
  font-family: 'Poppins', sans-serif;
}
