.completed{
    text-decoration: line-through;
    color: rgb(119, 119, 119);
    font-size: 25px;

}

.pending{
    color: black;
    font-size: 25px;
}

.wraplist {
    padding: 1px 15px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-inline: 5%;
    margin-block: 1%;
}
.checkboxthing{
    height: 20px;
    margin-right: 5%;
}

.closeicon {
    position: absolute;
    right: 10%;
    width: 40px;
    height: 40px;
    font-size: 32px;
    cursor: pointer;
}